<!DOCTYPE html>
<html lang="es" data-ng-app="ejercicioCrud">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ciudadano</title>
    <link rel="stylesheet" href="assets/libs/bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/libs/sweetalert2/css/sweetalert2.min.css">
    <script src="assets/libs/sweetalert2/js/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="assets/libs/fontAwesome/css/all.css">
    <link rel="stylesheet" href="assets/libs/fontAwesome/css/all.css">
</head>

<body ng-controller="homeCtrl">
    <nav class="navbar sticky-top navbar-dark bg-dark mb-5">
        <a class="navbar-brand" ng-click="verHome()" href="#!/">Inicio</a>
    </nav>
    <div class="container">
    
        <div ng-view>
    
        </div>
    </div>
     <!-- AngularJS -->
    <script src="assets/libs/AngularJS/angular.js"></script>
    <!-- route para AngularJS -->
    <script src="assets/libs/AngularJS/angular-route.min.js"></script>
   <!-- Modulo AngularJS -->
    <script src="app/modules/app.js"></script>
    <!-- Factories AngularJS -->
    <script src="app/factories/factory.js"></script>
    <!-- Servicio AngularJS -->
    <script src="app/services/grupoService.js"></script>
    <script src="app/services/empresaService.js"></script>
    <script src="app/services/sucursalService.js"></script>
    <!-- Controladores AngularJS -->
    <script src="app/controllers/homeCtrl.js"></script>
    <script src="app/controllers/grupoCtrl.js"></script>
    <script src="app/controllers/empresaCtrl.js"></script>
    <script src="app/controllers/sucursalCtrl.js"></script>
    
    <!-- jQuery -->
    <script src="assets/libs/jQuery/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/libs/bootstrap4/js/bootstrap.min.js "></script>
</body>

</html>