<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      
    </ul>
  </div>
</nav>
<div class="container animated bounceInLeft">
	<div class="section get " data-ng-show="!task">
			<div class="display-4 bg-dark">
				<div class=" offset-5 text-light">Empresas</div>
			</div>
			<div class="row m-3">
				<button type="button" class="btn btn-secondary offset-10" data-ng-click="verSeccion()">Nueva empresa</button>
			</div>	
			<table class="table">
				  <thead class="thead-dark">
				    <tr>
				      <th scope="col">Id</th>
				      <th scope="col">Nombre</th>
				      <th scope="col" colspan="3">Opciones</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr data-ng-repeat="empresa in listaempresas">
				      <td ng-if="empresa.status != '0'">{{empresa.id}}</td>
				      <td ng-if="empresa.status != '0'">{{empresa.nombre}}</td>
				      <td ng-if="empresa.status != '0'"><button type="button" class="btn btn-primary" ng-click="editar(empresa)">Editar</button></td>
				      <td ng-if="empresa.status != '0'"><button type="button" class="btn btn-danger" ng-click="borrar(empresa)">Eliminar</button></td>
					 <td ng-if="empresa.status != '0'"><button type="button" class="btn btn-success" ng-click="goTo3(empresa)">Ver sucursales</button></td>
				    </tr>
				  </tbody>
			</table>
		</div>
	
	  <div data-ng-show="task">
		<div class="display-4 bg-primary">
				<div class=" offset-5">Nueva empresa</div>
		</div>	
			<form name="formularioEdicion" data-ng-submit="submitForm(formularioEdicion.$valid)">
			  <div class="form-group">
			    <label>Titulo</label>
			    <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Nombre de la empresa" ng-model="empresa.nombre">
			  </div>
			 
			  
				<button type="submit" class="btn btn-primary">{{empresa.id?'Actualizar':'Agregar'}}</button>
				<button type="button" class="btn btn-danger" data-ng-click="cancel()">Cancelar</button>
			</form>
		</div>
</div>